apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: DEPLOYMENT_NAME-nginx
  name: DEPLOYMENT_NAME-nginx
---
apiVersion: v1
kind: Service
metadata:
  name: DEPLOYMENT_NAME-nginx
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: DEPLOYMENT_NAME-ingress
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-lscrypt-config
---
apiVersion: v1
kind: Secret
metadata:
  name: DEPLOYMENT_NAME-lscrypt-certs
---
apiVersion: batch/v1
kind: Job
metadata:
  name: DEPLOYMENT_NAME-lscrypt-job
  labels:
    app: DEPLOYMENT_NAME-lscrypt
---
apiVersion: v1
kind: Service
metadata:
  name: DEPLOYMENT_NAME-lscrypt
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: DEPLOYMENT_NAME-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: DEPLOYMENT_NAME-ssl-setup-role
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name:  DEPLOYMENT_NAME-ssl-setup-rb
