apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: DEPLOYMENT_NAME-ingress
  labels:
    last_updated: "1000000000"
spec:
  tls:
  - hosts:
    - DOMAINS_VALUE
    secretName: DEPLOYMENT_NAME-lscrypt-certs
  rules:
  - host: DOMAINS_VALUE
    http:
      paths:
      - path: /*
        backend:
          serviceName: DEPLOYMENT_NAME-nginx
          servicePort: 80
