apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: PROJECT-ingress
  labels:
    last_updated: "1000000000"
spec:
  tls:
  - hosts:
    - DOMAIN
    secretName: PROJECT-letsencrypt-certs
  rules:
  - host: DOMAIN
    http:
      paths:
      - path: /*
        backend:
          serviceName: PROJECT-nginx
          servicePort: 80
